* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(16, 16, 16);
}

body {
    font-family: 'courier new', 'Ping fang', 'Zapfino';
    margin: 0;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.6em;
}

p {
    font-size: 1.4em;
}

ul {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(10, 10, 10);
}

header .logo {
    color: gold;
    font-family: 'zapfino';
    padding: 0px 30px;
    margin: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 205.09px;
}

header nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-right: 20px;
}

header a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px 12px;
    color: aliceblue;
}

header a:hover {
    color: rgb(255, 190, 26);
    text-shadow: 2px 2px 5px rgb(252, 255, 200);
}

#dre{
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,4)), url("media/Studio1.jpg");}

#dre .container{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
    text-align: center;
    align-items: center;
    padding-top: 135px;
}

#dre .info{
    width: 60%;
    height: 420px;
    text-align: initial;
    padding-left: 30px;
    color: rgb(195, 212, 247);
    font-family: 'Andale Mono';
}

#dre .img{
    background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)), url("media/vinil.png");
    background-position: center center;
    background-size: cover;  
    height: 370px; 
    width: 370px;
    border-radius: 05px;
    animation: girar 16s infinite;
}

#eazy{
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,4)), url("media/Studio2.jpg");
}

#eazy .container{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
    text-align: center;
    align-items: center;
    padding-top: 135px;
}

#eazy .info{
    width: 60%;
    height: 420px;
    text-align: initial;
    padding-left: 30px;
    color: rgb(195, 212, 247);
    font-family: 'Andale Mono';
}

#eazy .img{
    background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)), url("media/vinil1.png");
    background-position: center center;
    background-size: cover;  
    height: 370px; 
    width: 370px;
    border-radius: 05px;
    animation: girar 16s infinite;
}

#cube{
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,4)), url("media/Studio3.jpg");
}

#cube .container{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
    text-align: center;
    align-items: center;
    padding-top: 135px;
}

#cube .info{
    width: 60%;
    height: 420px;
    text-align: initial;
    padding-left: 30px;
    color: rgb(195, 212, 247);
    font-family: 'Andale Mono';
}

#cube .img{
    background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)), url("media/vinil2.png");
    background-position: center center;
    background-size: cover;  
    height: 370px; 
    width: 370px;
    border-radius: 05px;
    animation: girar 16s infinite;
}

footer{
        height: 5px;
        color: aliceblue;
        font-size: .6em;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes intermitencia {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cambio-c{
    0%{
        background-color: rgb(0, 0, 0);
    }
    0%{
        background-color: rgb(19, 19, 19);
    }
    0%{
        background-color: rgb(0, 0, 0);
    }
}

@keyframes entrada{
    100%{
        opacity: 1;
    }
}

@keyframes rebote{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }